<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <uses-permission android:name="android.car.permission.CAR_PROPERTY_READ" />
    <uses-permission android:name="android.car.permission.CAR_PROPERTY_SET" />
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION" />
    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <uses-permission android:name="android.car.permission.CAR_MONITOR_INPUT" />
    <uses-permission android:name="android.car.permission.CAR_INPUT" />
    <uses-permission android:name="android.car.permission.CAR_CONTROL" />
    <uses-permission android:name="com.incall.permission.HARD_KEY_SERVICE" />
    <uses-permission android:name="android.car.permission.BIND_CAR_INPUT_SERVICE" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.UniVSWC281OCrutch">

        <activity
                android:name=".MainActivity"
                android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                    android:name="distractionOptimized"
                    android:value="true" />
        </activity>

        <service
                android:name="com.deflik.univswc281ocrutch.services.UniVAccessibilityService"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                android:enabled="true"
                android:exported="true"
                android:persistent="true">
            <intent-filter>

                <action
                        android:name="com.incall.HARD_KEY_SERVICE" />

                <action
                        android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>